<nav class="main-nav show-for-medium-up js-main-nav">
  <ul>
    <li><a class="ajax" href="/posts/" title="Posts"><i class="icon-megaphone" aria-hidden="true"></i><span>Posts</span></a></li>
    <li><a class="ajax" href="/demos/" title="Demos"><i class="icon-lightbulb" aria-hidden="true"></i><span>Demos</span></a></li>
    <li><a class="ajax" href="/portfolio/" title="Portfolio"><i class="icon-rocket" aria-hidden="true"></i><span>Portfolio</span></a></li>
    <li><a href="/me/" title="Contact"><i class="icon-chat" aria-hidden="true"></i><span>Contact</span></a></li>
  </ul>
</nav>
<a class="logo" href="/"><img src="/img/js.svg" alt=".JS Logo"></a>
<a class="right-off-canvas-toggle show-for-small-only" href="#" ><i class="icon-menu" aria-hidden="true"></i></a>