<!DOCTYPE html>
<!-- Your curiousity flatters me :D
  
                                 ++++++++++++                   ,;;';:.             
                                 ++++++++++++               ;++++++++++++++`        
                                 ++++++++++++             +++++++++++++++++++'      
                                 ++++++++++++           ++++++++++++++++++++++++    
                                 ++++++++++++          ++++++++++++++++++++++++++.  
                                 ++++++++++++         ++++++++++++++++++++++++++++' 
                                 ++++++++++++        ++++++++++++++++++++++++++++++ 
                                 ++++++++++++       ++++++++++++++++++++++++++++++  
                                 ++++++++++++      ,++++++++++++++++++++++++++++++  
                                 ++++++++++++      ++++++++++++++++++++++++++++++   
                                 ++++++++++++     .++++++++++++'       ;++++++++'   
                                 ++++++++++++     ++++++++++++           ,++++++    
                                 ++++++++++++     +++++++++++,             :+++`    
                                 ++++++++++++     +++++++++++                       
                                 ++++++++++++     +++++++++++                       
                                 ++++++++++++    `+++++++++++                       
                                 ++++++++++++    `+++++++++++                       
                                 ++++++++++++     +++++++++++'                      
                                 ++++++++++++     +++++++++++++                     
                                 ++++++++++++     ++++++++++++++:                   
                                 ++++++++++++     +++++++++++++++++`                
                                 ++++++++++++     :+++++++++++++++++++.             
                                 ++++++++++++      ++++++++++++++++++++++`          
                                 ++++++++++++      '+++++++++++++++++++++++:        
                                 ++++++++++++       +++++++++++++++++++++++++,      
                                 ++++++++++++        ++++++++++++++++++++++++++     
                                 ++++++++++++         ++++++++++++++++++++++++++    
                                 ++++++++++++          ++++++++++++++++++++++++++   
                                 ++++++++++++           .+++++++++++++++++++++++++  
                                 ++++++++++++              +++++++++++++++++++++++` 
                                 ++++++++++++                .+++++++++++++++++++++ 
                                 ++++++++++++                    ;+++++++++++++++++ 
                                 ++++++++++++                       '++++++++++++++,
                                 ++++++++++++                         +++++++++++++'
                                 ++++++++++++                          +++++++++++++
                                 ++++++++++++                           ++++++++++++
                                `+++++++++++;                           '+++++++++++
                                :+++++++++++,                           :+++++++++++
                                ++++++++++++`                           :+++++++++++
                                ++++++++++++        ,++                 +++++++++++,
                               .++++++++++++       ++++++               +++++++++++ 
    +++++,                     +++++++++++++      `+++++++:            '+++++++++++ 
  '++++++++                   +++++++++++++`      ++++++++++:         ++++++++++++' 
 :++++++++++        .+++';;++++++++++++++++      '+++++++++++++;,.,;++++++++++++++  
 +++++++++++`       ++++++++++++++++++++++:      +++++++++++++++++++++++++++++++++  
.++++++++++++       ++++++++++++++++++++++      +++++++++++++++++++++++++++++++++   
;++++++++++++      .+++++++++++++++++++++       ++++++++++++++++++++++++++++++++.   
;++++++++++++      :++++++++++++++++++++;        ++++++++++++++++++++++++++++++;    
.++++++++++++      '+++++++++++++++++++'          '+++++++++++++++++++++++++++;     
 +++++++++++`      +++++++++++++++++++:             +++++++++++++++++++++++++.      
 ,++++++++++       ++++++++++++++++++                 ++++++++++++++++++++++        
  ;++++++++        ++++++++++++++++`                    ;++++++++++++++++'          
    +++++.          .'++++++++++.                          .'+++++++++;`            

-->
<html>