<article class="post me">
  {% if page.hero %}
  {% if page.hero.type == 'bg' %}
  <div class="hero bg {{ page.hero.size }}" style="background: {{ page.hero.color }};">
    <div class="inner" style="background-image: url('{{ page.hero.url }}'); background-color: {{ page.hero.color }}; background-size: {{ page.hero.scale }}; background-position: center {{ page.hero.offset }};">
      <div class="text">
        <h1 class="greeting js-greeting">Hello!</h1>
        <div class="row">
          <div class="column medium-6 left-half">
            <figure class="photo">
              <img src="/img/me.jpg" alt="Arty shot of myself looking cool. Well I least that's what I was going for!">
          </figure>
          </div>
          <div class="column medium-6 right-half">
            {% include social.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="hero {{ page.hero.size }}">
    <figure class="inner">
      <img src="{{ page.hero.url }}" alt="{{ page.hero.alt }}" style="margin-top: {{ page.hero.margin-top }};">
    </figure>
  </div>
  {% endif %}
  {% endif %}
  <div class="category">
    <i class="icon-info-circled" aria-hidden="true"></i><span>About Me</span>
  </div>
  <section class="post-body">
    <div class="row">
      <div class="column padded">
        {{ content }}
      </div>
    </div>
  </section>
</article>