<article class="post-preview {{ post.category }}">
    <div class="post-preview__content">
        <h2 class="post-preview__heading">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <div class="post-preview__meta">
            <div class="post-preview__category">
                <span class="sr-only">Category:</span>
                <span>{{ post.category-title }}</span>
            </div>

            <time
                class="post-preview__date"
                datetime="{{ post.date }}"
                title="{{ post.date | date_to_long_string }}"
                >{{ post.date | date_to_string }}</time
            >
        </div>

        <p class="post-preview__excerpt">{{ post.excerpt | strip_html }}</p>
    </div>
    <a href="{{ post.url }}" class="post-preview_thumbnail" aria-hidden="true">
        <img src="{{ post.thumb }}" alt="" />
    </a>
</article>
