<div class="post post--{{ page.category }}">
    <h1 class="post__title">{{ page.title }}</h1>

    <div class="post__meta">
        <div class="post__category">
            <span>{{ page.category-title }}</span>
        </div>

        <time
            class="post__date"
            datetime="{{ page.date }}"
            title="{{ page.date | date_to_long_string }}"
            >{{ page.date | date_to_string }}</time
        >
    </div>

    {% if page.update %}
    <div class="post__update"><strong>UPDATE:</strong> {{ page.update }}</div>
    {% endif %}

    <div class="post__hero">
        <img
            class="post__image"
            src="{{ page.hero.url }}"
            alt="{{ page.hero.alt }}"
        />
    </div>

    <div class="post__content">
        {{ content }}
    </div>

    {% if page.gallery %}
    <div class="post__gallery">
        {% for image in page.gallery %}
        <img
            class="post__image"
            src="{{ image.url }}"
            alt="{{ image.caption }}"
        />
        {% endfor %}
    </div>
    {% endif %} {% if page.codepen-embed %} {% include codepen-embed.html %} {%
    endif %}

    <ul class="post__actions">
        {% if page.link-website %}
        <li>
            <a class="post__link" href="{{ page.link-website }}" target="_blank"
                >Open website</a
            >
        </li>
        {% endif %} {% if page.link-demo %}
        <li>
            <a class="post__link" href="{{ page.link-demo }}" target="_blank"
                >Open demo</a
            >
        </li>
        {% endif %} {% if page.link-files %}
        <li>
            <a class="post__link" href="{{ page.link-files }}" target="_blank"
                >Download files</a
            >
        </li>
        {% endif %} {% if page.link-generic %}
        <li>
            <a class="post__link" href="{{ page.link-generic }}" target="_blank"
                >Open Link</a
            >
        </li>
        {% endif %} {% if page.link-post %}
        <li>
            <a class="post__link" href="{{ page.link-post }}" target="_blank"
                >View Post</a
            >
        </li>
        {% endif %}
    </ul>

    {% if page.tags %}
    <div class="post__tags">
        <span>Tags:</span>
        <ul>
            {% for tag in page.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="post__nav">
        {% include post-nav.html %}
    </div>
</div>
