<article class="post post--{{ page.category }}">
    <h2 class="post__heading">{{ page.title }}</h2>
    <div class="post__category">
        <span>{{ page.category-title }}</span>
    </div>

    <time
        class="post__date"
        datetime="{{ page.date }}"
        title="{{ page.date | date_to_long_string }}"
        >{{ page.date | date_to_string }}</time
    >

    {% if page.hero %} {% if page.hero.type == 'bg' %}
    <div
        class="hero bg {{ page.hero.size }}"
        style="background: {{ page.hero.color }};"
    >
        <figure
            class="inner"
            style="background-image: url('{{ page.hero.url }}'); background-color: {{ page.hero.color }}; background-size: {{ page.hero.scale }}; background-position: center {{ page.hero.offset }};"
        ></figure>
    </div>
    {% else %}
    <div class="hero {{ page.hero.size }}">
        <figure class="inner">
            <img
                src="{{ page.hero.url }}"
                alt="{{ page.hero.alt }}"
                style="margin-top: {{ page.hero.margin-top }};"
            />
        </figure>
    </div>
    {% endif %} {% endif %}

    <div class="post__content">
        {{ content }}
    </div>

    {% if page.update %}
    <div>
        <p><strong>UPDATE:</strong> {{ page.update }}</p>
    </div>
    {% endif %} {% if page.gallery %}
    <ul class="small-block-grid-3 clearing-thumbs" data-clearing>
        {% for image in page.gallery %}
        <li>
            <a href="{{ image.url }}" title="Enlarge Image"
                ><img
                    src="{{ image.url }}"
                    alt="{{ image.caption }}"
                    data-caption="{{ image.caption }}"
            /></a>
        </li>
        {% endfor %}
    </ul>
    {% endif %} {% if page.codepen-embed %} {% include codepen-embed.html %} {%
    endif %}

    <div class="post__actions">
        {% if page.link-website %}
        <a class="button" href="{{ page.link-website }}" target="_blank"
            >Open website</a
        >
        {% endif %} {% if page.link-demo %}
        <a class="button" href="{{ page.link-demo }}" target="_blank"
            >Open demo</a
        >
        {% endif %} {% if page.link-files %}
        <a class="button" href="{{ page.link-files }}" target="_blank"
            >Download files</a
        >
        {% endif %} {% if page.link-generic %}
        <a class="button" href="{{ page.link-generic }}" target="_blank"
            >Open Link</a
        >
        {% endif %} {% if page.link-post %}
        <a class="button" href="{{ page.link-post }}" target="_blank"
            >View Post</a
        >
        {% endif %}
    </div>

    {% if page.tags %}
    <div class="post__tags">
        <span>Tags:</span>
        <ul>
            {% for tag in page.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <nav class="post__nav">
        <ul>
            {% if page.previous.url %}
            <li>
                <a
                    href="{{page.previous.url}}"
                    title="Last post: {{page.previous.title}}"
                    ><span>Prev Post</span></a
                >
            </li>
            {% endif %} {% if page.next.url %}
            <li>
                <a href="{{page.next.url}}" title="Next up: {{page.next.title}}"
                    ><span>Next Post</span></a
                >
            </li>
            {% endif %}
        </ul>
    </nav>
</article>
