<ul class="social">
    <li>
        <a href="https://twitter.com/johnslipper" rel="noreferrer">
            {% include icons/twitter.svg %}
            <span class="sr-only">Twitter</span>
        </a>
    </li>
    <li>
        <a href="https://instagram.com/johnslipper" rel="noreferrer">
            {% include icons/instagram.svg %}
            <span class="sr-only">Instagram</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/johnslipper" rel="noreferrer">
            {% include icons/github.svg %}
            <span class="sr-only">Github</span>
        </a>
    </li>
    <li>
        <a href="https://codepen.io/johnslipper" rel="noreferrer">
            {% include icons/codepen.svg %}
            <span class="sr-only">Codepen</span>
        </a>
    </li>
</ul>
