<ul class="social">
  <li class="github"><a href="https://github.com/johnslipper" title="Star me on GitHub"><i aria-hidden="true" class="icon-github-squared"></i><span>Github</span></a></li>
  <li class="twitter"><a href="https://twitter.com/johnslipper" title="Follow me on Twitter"><i aria-hidden="true" class="icon-twitter-squared"></i><span>Twitter</span></a></li>
  <li class="linkedin"><a href="http://uk.linkedin.com/in/johnslipper" title="Connect with me on LinkedIn"><i aria-hidden="true" class="icon-linkedin-squared"></i><span>LinkedIn</span></a></li>
  <li class="google-plus"><a href="https://plus.google.com/113362598313600095146/posts?rel=author" rel="me" title="Add me to your circles on Google+"><i aria-hidden="true" class="icon-gplus-squared"></i><span>Google+</span></a></li>
  <li class="email"><a href="mailto:john@johnslipper.com" title="Email me"><i aria-hidden="true" class="icon-email-squared"></i><span>Email</span></a></li>

</ul>