* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);

    @media (min-width: $breakpoints-5) {
        font-size: calc(var(--body-font-size) * 1.1);
    }

    @media (min-width: $breakpoints-7) {
        font-size: calc(var(--body-font-size) * 1.3);
    }
}

a {
    color: var(--link-color);
}

img,
svg {
    display: block;
    max-width: 100%;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

[hidden] {
    display: none;
}

button,
a[href] {
    &:focus {
        outline: 1px solid var(--outline-color);
    }

    &:-moz-focusring {
        outline: 5px solid var(--outline-color);
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:focus-visible {
        outline: 5px solid var(--outline-color);
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.001s !important;
        transition-duration: 0.001s !important;
    }
}

@mixin animated-underline(
    $height: 0.25rem,
    $spacing: 0.25rem,
) {
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: $height;
        margin-block-start: $spacing;
        background-color: var(--heading-underline-color);
        transition: clip-path 250ms;
        clip-path: polygon(1% 0, 15% 0, 14% 100%, 0% 100%);
        background-image: linear-gradient(270deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    }
    &:hover,
    &:focus {
        &::after {
            clip-path: polygon(1% 0, 100% 0, 99% 100%, 0% 100%);
        }
    }
}

@mixin blurred-gradient-border($border-width: -2px) {
    position: relative;
    max-width: max-content;
        > * {
            position: relative;
            z-index: 1;
            border-radius: 1rem;
        }
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: $border-width;
        left: $border-width;
        right: $border-width;
        bottom: $border-width;
        background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
        border-radius: 1rem;
      }
      &::before {
        filter: blur(10px);
        opacity: 0.33;
        z-index: 0;
      }
      &::after {
        z-index: 0;
      }
}
