.layout {
    padding: var(--layout-padding-sm);

    &::before,
    &::after {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        height: var(--layout-padding-sm);
        background-color: var(--body-background-color);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    .layout__wrapper {
        background-color: var(--layout-wrapper-background-color);
    }

    .layout__header {
        position: fixed;
        top: 0;
        left: var(--layout-padding-sm);
        right: var(--layout-padding-sm);
        z-index: 1;
    }

    .layout__main {
        padding: var(--layout-wrapper-padding-sm);
        &::before {
            content: "";
            display: block;
            padding-top: var(--layout-fixed-header-spacing);
        }
    }

    .layout__articles {
        > article {
            margin-bottom: var(--spacing-7);
        }
    }

    @media (min-width: $breakpoints-3) {
        padding: var(--layout-padding-lg);

        &::before,
        &::after {
            height: var(--layout-padding-lg);
        }

        .layout__wrapper {
            display: grid;
            grid-template: "sidebar content ..." / 2fr 4fr 1fr;
        }

        .layout__header {
            position: initial;
            grid-area: sidebar;
        }

        .layout__main {
            grid-area: content;
            padding: var(--layout-wrapper-padding-lg);
            &::before {
                display: none;
            }
            &::after {
                content: "";
                position: fixed;
                bottom: 0;
                right: 0;
                width: 15%;
                height: 15%;
                background-color: var(--header-background-color);
                clip-path: polygon(100% 100%, 100% 0px, 0% 100%);
            }
        }

        .layout__footer {
            display: none;
        }
    }

    @media (min-width: $breakpoints-5) {
        .layout__articles {
            > article {
                margin-bottom: var(--spacing-8);
            }
        }
    }
}
