.layout {
    padding: var(--layout-padding-sm);

    &::before,
    &::after {
        content: "";
        position: fixed;
        inset-inline-start: 0;
        inset-inline-end: 0;
        height: var(--layout-padding-sm);
        background-color: var(--body-background-color);
        z-index: 1;
    }

    &::before {
        inset-block-start: 0;
    }

    &::after {
        inset-block-end: 0;
    }

    .layout__content-skip {
        position: absolute;
        inset-block-start: -1000px;
        inset-inline-start: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
        z-index: 2;

        &:active,
        &:focus,
        &:hover {
            inset-inline-start: 0;
            inset-block-start: 0;
            width: auto;
            height: auto;
            overflow: visible;
            padding: 1rem;
            margin: 1rem;
            background-color: var(--layout-wrapper-background-color);
            border: 5px solid var(--link-color);
        }
    }

    .layout__wrapper {
        background-color: var(--layout-wrapper-background-color);
    }

    .layout__header {
        position: fixed;
        inset-block-start: 0;
        inset-inline-start: var(--layout-padding-sm);
        inset-inline-end: var(--layout-padding-sm);
        z-index: 1;
    }

    .layout__main {
        padding: var(--layout-wrapper-padding-sm);
        &::before {
            content: "";
            display: block;
            padding-block-start: var(--layout-fixed-header-spacing);
        }
    }

    .layout__articles {
        margin-block-start: 2rem;
        display: grid;
        grid-gap: 4rem;
    }

    @media (min-width: $breakpoints-3) {
        padding: var(--layout-padding-lg);

        &::before,
        &::after {
            height: var(--layout-padding-lg);
        }

        .layout__wrapper {
            display: grid;
            grid-template: "sidebar content ..." / 2fr 4fr 1fr;
        }

        .layout__header {
            position: initial;
            grid-area: sidebar;
            max-width: var(--layout-header-max-width);
        }

        .layout__main {
            grid-area: content;
            max-width: 90ch;
            min-height: calc(100vh - (var(--layout-padding-lg) * 2));

            &::before {
                display: none;
            }
        }
    }

    @media (min-width: $breakpoints-5) {
        .layout__articles {
            grid-gap: 6rem;
        }
    }
}
