:root {
    --layout-padding-sm: var(--spacing-2);
    --layout-padding-lg: var(--spacing-4);
    --layout-wrapper-padding-sm: var(--spacing-4);
    --layout-wrapper-padding-lg: var(--spacing-6);
    --layout-grid-gap: var(--spacing-7);
}

.layout {
    padding: var(--layout-padding-sm);

    &::before,
    &::after {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        height: var(--layout-padding-sm);
        background-color: var(--body-background-color);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    .layout__wrapper {
        padding: var(--layout-wrapper-padding-sm);
        background-color: var(--layout-wrapper-background-color);
    }

    @media (min-width: $breakpoints-2) {
        padding: var(--layout-padding-lg);

        &::before,
        &::after {
            height: var(--layout-padding-lg);
        }

        .layout__wrapper {
            padding: var(--spacing-5);
        }
    }

    @media (min-width: $breakpoints-3) {
        .layout__wrapper {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap: var(--layout-grid-gap);
        }

        .layout__footer {
            position: sticky;
            top: calc(
                var(--layout-padding-lg) + var(--layout-wrapper-padding-lg)
            );
            max-height: 100vh;
        }
    }
}
