// Get colour from palettes
@function getColor($color, $tone) {
    @if map-has-key($palettes, $color) {
        $color: map-get($palettes, $color);

        @if map-has-key($color, $tone) {
            $tone: map-get($color, $tone);
            @return $tone;
        }

        @warn "unknown tone `#{$tone}` in color";
        @return null;
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;
}

@mixin defineColorVariable($variable, $color, $tone, $alpha: "100%") {
    #{$variable}: #{"hsla(#{getColor($color, $tone)}, #{$alpha})"};
}

$palettes: (
    first: (
        darkest: "270, 40%, 33%",
        dark: "270, 40%, 30%",
        mediumDark: "270, 40%, 40%",
        medium: "270, 40%, 50%",
        mediumLight: "270, 40%, 65%",
        light: "270, 40%, 85%",
        lightest: "270, 40%, 100%",
    ),
    neutral: (
        darkest: "212.5, 23.5%, 20%",
        dark: "211.3, 16.1%, 28%",
        mediumDark: "214.3, 12.5%, 56.1%",
        medium: "207.3, 18.3%, 76.5%",
        mediumLight: "210, 18.8%, 87.5%",
        light: "210, 20%, 94%",
        lightest: "0, 0%, 100%",
    ),
);
