@import "./palettes";

:root {
    /* Body */
    --body-color: rgb(238, 236, 236);
    --body-font-size: 1rem;
    --body-font-weight: 400;
    --body-line-height: 1.65;
    --body-font-family: "Lato", Arial, Helvetica, sans-serif;

    /* Anchor links */
    @include defineColorVariable(--link-color, primary, mediumDark);

    /* Headings */
    --heading-line-height: 1.15;
    --heading-font-weight: 900;
    @include defineColorVariable(--heading-color, primary, mediumDark);

    /* Spacing */
    --spacing-0: 0rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.5rem;
    --spacing-6: 2rem;
    --spacing-7: 4rem;
    --spacing-8: 8rem;
    --spacing-base: var(--spacing-4);
}

/* Dark theme overrides */
[data-theme="dark"] {
    --body-color: #161625;
}
