@import "./palettes";

/** Breakpoints
 * (CSS variables currently unavailable in @media) */
$breakpoints-1: 40em;
$breakpoints-2: 52em;
$breakpoints-3: 64em;
$breakpoints-4: 76em;
$breakpoints-5: 88em;
$breakpoints-6: 100em;
$breakpoints-7: 112em;
$breakpoints-8: 124em;

:root {
    /* Body */
    --body-font-size: 1.2rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;
    --body-font-family: "Lato", Helvetica, Arial, sans-serif;

    /* Layout */
    --layout-padding-sm: 0.5rem;
    --layout-padding-lg: 1rem;
    --layout-wrapper-padding-sm: 1.5rem;
    --layout-wrapper-padding-lg: 2rem;
    --layout-fixed-header-spacing: 4rem;
    --layout-header-max-width: 23rem;

    /* Headings */
    --heading-line-height: 1.15;
    --heading-font-weight: 900;
}

/* Theme colours */
:root {
    @import "./variables-light-theme.scss";
}

[data-theme="dark"] {
    @import "./variables-dark-theme.scss";
}

@media (prefers-color-scheme: dark) {
    :root {
        @import "./variables-dark-theme.scss";
    }
    [data-theme="light"] {
        @import "./variables-light-theme.scss";
    }
}
