@mixin category {

	section, article {
		width: 100%;
		height: auto;
		min-height: 480px;
		overflow: hidden;
	}

	article {
		@include transition(width 1s);
		background-color: darken(white, 3%);
		&:nth-of-type(odd) {
			background-color: white;
			background-color: darken(white, 5%);
		}
		&.hidden {
			width: 0;
		}
	}

	/* Responsive 641px+ */
	@media #{$medium-up} {

		&.grid {
			@include clearfix;
		}

		section {
			display: block;
		}

		section, article {
			float: left;
			width: 50%;
			font-size: 1rem;
			z-index: 1;
			height: 580px;
			min-height: 580px;
		}

	}

	@media #{$large-up} {

		section, article {
			width: 33.33333333%;
		}

	}

	@media #{$xlarge-up} {

		section, article {
			width: 25%;
		}

	}

	@media #{$xxlarge-up} {

		section, article {
			width: 20%;
		}

	}

}

.category {
	background-color: white;
	@include category;
}