.gallery {
	position: relative;
	height: 270px;
	overflow: hidden;
	@include transition(height, 500ms, ease-in-out);
	@include transform(translate3d(0px, 0px, 0px));
	figure {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		@include transition(height, 500ms, ease-in-out);
		img {
			display: inline;
			width: auto;
			max-width: 125%;
		}
	}
	.gallery-nav {
		display: none;
		ul {
			list-style-type: none;
		}
		li a {
			position: absolute;
			top: 50%;
			z-index: 3;
			&.prev {
				left: 20px;
				i {
					margin-right: 0.5rem;
				}
			}
			&.next {
				right: 20px;
				i {
					margin-left: 0.5rem;
				}
			}
			i, span {
				vertical-align: middle;
			}
			&.close {
				top: -30px;
				right: 20px;
				font-size: 2rem;
			}
		}
	}
	.zoom {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}

/* Responsive 641px+ */
@media #{$medium-up} {
	.gallery {
		figure {
			width: 33.33333333%;
			cursor: -webkit-zoom-in;
			&:nth-child(1) {
				left: 0;
			}
			&:nth-child(2) {
				left: 33.33333333%;
			}
			&:nth-child(3) {
				left: 66.66666666%;
			}
		}
		&.open {
			height: 540px;
			margin-top: 2rem;
			overflow: visible;
			figure {
				left: 33.33333333%;
				@include transform(scale(2));
				z-index: 2;
				opacity: 0;
				cursor: -webkit-zoom-out;
				&.front {
					opacity: 1;
				}
				img {
					width: auto;
					max-width: initial;
					height: 100%;
					margin-left: -50%;
					@include transform(scale(0.5));
				}
			}
			.gallery-nav {
				display: block;
			}
			.zoom {
				display: none;
			}
		}
	}
}