/* Variables */
$brand1: rgb(162,32,108); /* Purple */
// $brand1: darken(red, 5%); /* Dark red */
$brand2: rgb(26,66,144); /* Dark Blue */
$brand3: rgb(0,152,253); /* Light Blue */
$brand4: rgb(255,148,26); /* Orange */
$brand5: darken(rgb(255,231,3), 3%); /* Yellow */

img {
		width: 100%;
	}

figure {
	margin: 0;
}

iframe {
	margin: 1rem 0;
}

strong, b {
	font-weight: 400;
}

.tooltip.fixed {
	position: fixed !important;
	top: 50% !important;
	margin-top: 1.4rem !important;
	&.tip-left {
		right: 5rem !important;
		left: auto !important;
	}
	&.tip-right {
		left: 5rem !important;
		right: auto !important;
	}
}

.logo {
	display: block;
	width: 40px;
	margin: 1rem;
	@include transition(opacity, 150ms, ease);
	&:hover {
		opacity: 0.85;
	}
}

.lead {
	font-weight: 400;
}

.padded {
	padding: 2rem;
}

.caption {
	display: block;
}

.row {
	max-width: 45rem;
}

.loading {
	position: fixed;
	display: table;
	table-layout: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: fade-out(white, 0.25);
	vertical-align: middle;
	text-align: center;
	@include transition(all, 250ms, ease-in-out);
	@include user-select;
	.logo {
		display: table-cell;
		vertical-align: middle;
		width: auto;
		margin: 0;
		.img {
			margin: 0 auto;
			width: 40px;
			height: 25px;
			-webkit-animation-duration: 3s;
		  animation-duration: 3s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-name: flashInvert;
			animation-name: flashInvert;
			background: url('/img/js.svg') no-repeat center;
			background-size: 40px;
		}
	}
	&.ie {
		z-index: 100;
		background-color: #FFF;
		.panel {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 600px;
			margin-top: -200px;
			margin-left: -300px;
			padding: 20px;
		}
	}
}

@mixin button($color: $brand1) {
	-moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
	padding: 0.75rem 1.75rem;
	border-radius: 2rem;
	border: 4px solid fade-out(black, 0.9);
	background-color: $color;
	@include transition(background-color, 150ms, ease-out);
	&:hover {
		background-color: lighten($color, 5%);
	}
	&:active {
		background-color: darken($color, 5%);
	}
	&.read-more {
		font-style: italic;
	}
	i {
		margin-right: 0.5em;
	}
	@media #{$small-only} {
		width: 100%;
	}
}

button, .button {
	@include button;
	&.brand2 {
		@include button($brand2);
	}
	&.brand3 {
		@include button($brand3);
	}
	&.brand4 {
		@include button($brand4);
	}
	&.brand5 {
		@include button($brand5);
	}
}

header {
	position: relative;
	height: 60px;
	z-index: 5;
	overflow: hidden;
	background-color: fade-out(white, 0.1);
	@include transition(all, 250ms, ease-in-out);
	.logo {
		&:before {
			display: none;
			position: absolute;
			top: 35px;
			left: 16px;
			content: "";
			width: 7px;
			height: 7px;
			background-color: white;
			-webkit-animation-duration: 3s;
		  animation-duration: 3s;
  		-webkit-animation-fill-mode: both;
  		animation-fill-mode: both;
  		-webkit-animation-iteration-count: infinite;
  		animation-iteration-count: infinite;
		}
		&:hover {
			&:before {
				display: block;
				-webkit-animation-name: flashInvert;
				animation-name: flashInvert;
			}
		}
	}
	.icon-menu {
		position: absolute;
		top: 0;
		right: 0;
		margin: 15px 20px 10px;
		font-size: 1.85rem;
	}
	a {
		color: black;
	}
}

footer {
	position: relative;
	min-height: 160px;
	padding: 2rem;
	text-align: center;
	background-color: darken(white, 22%);
	.logo {
		display: block;
		width: 100px;
		margin: 0.4rem auto 0;
		text-align: center;
		// &:before {
		// 	display: none;
		// 	position: relative;
		// 	top: 35px;
		// 	left: 16px;
		// 	content: "";
		// 	width: 7px;
		// 	height: 7px;
		// 	background-color: darken(white, 22%);
		// 	-webkit-animation-duration: 3s;
		//   animation-duration: 3s;
  // 		-webkit-animation-fill-mode: both;
  // 		animation-fill-mode: both;
  // 		-webkit-animation-iteration-count: infinite;
  // 		animation-iteration-count: infinite;
		// }
		// &:hover {
		// 	&:before {
		// 		display: block;
		// 		-webkit-animation-name: flashInvert;
		// 		animation-name: flashInvert;
		// 	}
		// }
		img {
			display: block;
		}
		small {
			display: block;
			font-weight: 300;
			font-size: 0.9rem;
			line-height: 1.6rem;
			color: lighten(black, 5%);
		}
	}
	p {
		margin: 0;
		&.lead {
			margin-bottom: 0.5rem;
			font-size: 1rem;
			line-height: 1.3;
		}
	}
	.social {
		.email {
			display: none;
		}
	}
}

/* Responsive 641px+ */
@media #{$medium-up} {
	body {
		padding-top: 60px;
	}
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		&.compact {
			height: 40px;
			background-color: white;
			.logo {
				width: 25px;
				margin: 0.75rem;
				&:hover {
					&:before {
						display: none;
					}
				}
			}
			li {
				margin: 0.5rem;
			}
			span {
				display: none;
			}
		}
	}
	footer {
		text-align: left;
		p {
			&.lead {
				font-size: 1.21875rem;
				line-height: 1.6;
			}
		}
	}
}