.me-preview {
	position: relative;
	background-color: darken(white, 3%);
	@include transition(all, 400ms, ease-in-out);
	.contact {
		position: relative;
	}
	.bio {
		padding: 2rem;
	}
	.close {
		position: absolute;
		top: 10px;
		right: 20px;
		z-index: 1;
		font-size: 2rem;
		@include transition(all, 400ms, ease-in-out);
	}
	&.closed {
		width: 0;
		height: 0 !important;
		.close {
			@include transform(rotate(359deg));
		}
		&.no-animation {
			@include transition(all, 0ms);
		}
	}

	@media #{$medium-up} {
		.contact {
			margin: 2rem 0 0;
			padding-left: 1rem;
			@include clearfix();
			figure {
				// float: left;
				// width: 80%;
				height: 14rem;
				overflow: hidden;
				padding-top: 1rem;
				// padding-left: 1rem;
				img {
					margin-top: -20%;
				}
			}
		}
	}

	@media #{$large-only} {
		.contact {
			margin: 2rem 0 0;
			padding-left: 1rem;
			overflow: hidden;
		}
	}
}

.post.me {
	.hero {
		.left-half {
			text-align: right;
		}
		.right-half {
			text-align: left;
		}
		.photo {
			display: inline-block;
			width: 40%;
			height: 10rem;
			overflow: hidden;
			box-shadow: 0 0 10px black;
		}
		.social {
			margin-top: 0;
			display: inline-block;
			width: 8rem;
			text-align: left;
			.google-plus, .github {
				display: none;
			}
			li {
				height: 3rem;
			}
			i:before {
				@include transition(all, 150ms, ease);
			}
			a {
				position: relative;
				font-size: 2.2rem;
				&:hover i:before {
					@include transform(scale(1.2));
				}
			}
		}
	}
	.category {
		margin-top: 0;
		margin-bottom: 1rem;
	}
	.app-icons {
		margin: 4rem 0;
		img, span {
			display: block;
			margin: 0 auto;
		}
		img {
			width: 50%;
			@include transition(all, 150ms, ease);
		}
		span {
			margin: 1rem 0;
			font-style: 0.5rem;
			color: lighten(black, 40%);
		}
		a:hover img {
			@include transform(scale(1.2));
		}
	}

	@media #{$small-only} {
		.hero {
			.right-half {
				text-align: center;
			}
			.photo {
				display: none;
			}
			.social {
				width: 100%;
				text-align: center;
				li {
					width: auto;
					height: auto;
					display: inline;
				}
				a {
					// float: left;
					// margin: 2rem;
				}
				i {
					font-size: 4rem;
				}
			}
		}
		.app-icons {
			img {
				width: 100%;
			}
		}
	}
}