.main-nav {
	float: right;
	margin: 0 auto;
	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
		margin: 1rem;
		a {
			position: relative;
			&:hover {
				opacity: 0.65;
			}
		}
		&:nth-child(1) {
			a {
				color: $brand1;
				&:hover {
					i:before {
						@include animation(bounceIn, 1s);
					}
				}
			}
		}
		&:nth-child(2) {
			a {
				color: $brand3;
				&:hover {
					i:before {
						@include animation(bounce, 1s);
					}
				}
			}
		}
		&:nth-child(3) {
			a {
				color: $brand4;
				&:hover {
					i:before {
						@include animation(swing, 1s);
					}
				}
			}
		}
		&:nth-child(4) {
			a {
				color: $brand5;
				&:hover {
					i:before {
						@include animation(bounceOutIn, 1s);
					}
				}
			}
		}
		i:before {
			margin-right: 0.5rem;
			@include animated;
		}
	}
}

.right-off-canvas-menu {
	background-color: lighten(black, 20%);
	ul {
		// margin-left: 0;
		// list-style-type: none;
	}
	li {
		// position: relative;
		// a {
		// 	display: inline-block;
		// 	width: 100%;
		// 	padding: 0.5rem;
			i {
				margin: 0.25rem 0.5rem;
			}
		// }
		&:nth-child(1) {
			a {
				color: lighten($brand1, 10%);
			}
		}
		&:nth-child(2) {
			a {
				color: $brand3;
			}
		}
		&:nth-child(3) {
			a {
				color: $brand4;
			}
		}
		&:nth-child(4) {
			a {
				color: $brand5;
			}
		}
	}
}