@mixin hide-text {
	font-size: 0;
	line-height: 0;
  text-indent: -9999em;
  text-align: left;
  overflow: hidden;
}

@mixin user-select($var: none) {
	-moz-user-select: $var;
	-ms-user-select: $var;
	-webkit-user-select: $var;
	user-select: $var;
}

@mixin transition($property: all, $duration: 250ms, $ease: ease) {
	-moz-transition: $property $duration $ease;
	-ms-transition: $property $duration $ease;
	-webkit-transition: $property $duration $ease;
	transition: $property $duration $ease;
}

@mixin transform($transform) {
	-moz-transform: $transform;
	-ms-transform: $transform;
	-webkit-transform: $transform;
	transform: $transform;
}