.about {
    .about__wrapper {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-gap: 1.5rem;
    }

    .about__photo {
        width: 7rem;
        img {
            border: 5px solid var(--layout-wrapper-background-color);
        }
    }

    .about__description {
        font-size: 0.85em;
        margin-block-start: 1rem;
        p {
            margin-block-end: 0.5rem;
        }
    }

    .about__social {
        align-self: flex-end;
    }

    @media (min-width: $breakpoints-3) {
        .about__photo {
            width: 4.8rem;
        }

        .about__social {
            align-self: initial;
        }
    }
}
