.about {
    .about__wrapper {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-gap: var(--spacing-5);
    }

    .about__photo {
        width: 4.75rem;
        img {
            border: 5px solid var(--layout-wrapper-background-color);
        }
    }

    .about__description {
        margin-top: var(--spacing-5);
        p {
            margin-bottom: var(--spacing-2);
        }
    }
}
