.codepen-embed {
    margin-block-end: 2rem;
    .codepen-embed__editor {
        display: none;
    }

    .codepen-embed__link {
        margin-block-start: var(--spacer-5);
    }

    @media (min-width: $breakpoints-3) {
        .codepen-embed__link {
            display: none;
        }

        .codepen-embed__editor {
            display: block;
        }
    }
}
