.footer {
    padding: calc(var(--layout-wrapper-padding-sm) / 2);
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--body-background-color);
        z-index: 0;
        clip-path: polygon(0% 33%, 100% 0%, 100% 100%, 0% 100%);
    }
    > * {
        position: relative;
        z-index: 1;
    }

    .theme-switcher {
        margin-top: 1rem;
    }

    @media (min-width: $breakpoints-3) {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 1.5rem 1.5rem 1.5rem 2rem;
        background-color: var(--header-background-color);
        clip-path: polygon(10% 10%, 100% 0%, 100% 100%, 0% 100%);

        &::before {
            display: none;
        }

        .theme-switcher {
            text-align: center;
            margin-top: 0;
            font-size: 0.8em;
        }
        .about {
            display: none;
        }
    }
}
