.footer {
    padding: calc(var(--layout-wrapper-padding-sm) / 2);
    position: relative;
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inset-inline-end: 0;
        inset-block-end: 0;
        background-color: var(--body-background-color);
        z-index: 0;
        clip-path: polygon(0% 33%, 100% 0%, 100% 100%, 0% 100%);
    }

    > * {
        position: relative;
        z-index: 1;
    }

    .footer__links {
        font-size: 0.9em;
        margin-block-start: 1.5rem;
        margin-block-end: 1.5rem;
        ul {
            display: flex;
            margin-inline-start: -1rem;
            margin-inline-end: -1rem;
            li {
                margin-inline-start: 1rem;
                margin-inline-end: 1rem;
            }
        }
        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            @include animated-underline(15%, 100%, 0.1rem, 0);
        }
    }

    .theme-switcher {
        margin-block-start: 1rem;
    }

    @media (min-width: $breakpoints-3) {
        position: fixed;
        inset-block-end: 0;
        inset-inline-end: 0;
        padding: 1.5rem 1.5rem 1.5rem 2rem;
        background-color: var(--header-background-color);
        clip-path: polygon(10% 10%, 100% 0%, 100% 100%, 0% 100%);

        &::before {
            display: none;
        }

        .footer__links {
            font-size: 0.8em;
            margin-block-start: 1.5rem;
            margin-block-end: 1.5rem;
            ul {
                display: grid;
                margin: 0;
                grid-gap: 0.5rem;
                li {
                    margin: 0;
                }
            }
        }

        .theme-switcher {
            text-align: center;
            margin-block-start: 0;
            font-size: 0.8em;
        }
        .about {
            display: none;
        }
    }
}
