.header {
    position: relative;

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        background-color: var(--header-background-color-filter);
        padding: 1rem calc(var(--layout-wrapper-padding-sm) / 2);
        padding-block-end: 0.5rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        backdrop-filter: blur(8px);
    }

    .header__logo {
        display: block;
        position: relative;
        width: 4rem;
        flex-shrink: 0;
        margin-inline-end: 1.25rem;

        .logo__dot {
            display: none;
        }

        .logo__js {
            transition: all 250ms;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 7%;
            left: 5%;
            width: 14%;
            aspect-ratio: 1;
            border-radius: 50%;
            background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
            animation: bounce 500ms;
        }

        &::before {
            filter: blur(6px);
        }

        &:hover,
        &:focus,
        &:active {
            &::before,
            &::after {
                animation: rotate 2s linear infinite;
            }
        }
        
        &:active {
            .logo__js path {
                fill: var(--logo-color);
            }
        }
    }

    .header__navigation {
        padding: 0 1rem;
        overflow-x: auto;
        font-size: 0.9em;
        ul {
            display: flex;
            padding-block-end: 0.5rem;
            margin-inline-start: -0.5rem;
            margin-inline-end: -0.5rem;
            li {
                margin: 0 0.25rem;
            }
            a {
                display: inline-block;
                padding: 0.5rem;
                line-height: 1;
                text-transform: uppercase;
                text-decoration: none;
                @include animated-underline();
            }
        }
    }

    .header__about {
        display: none;
    }

    @media (min-width: $breakpoints-3) {
        .header__wrapper {
            position: fixed;
            left: 0;
            bottom: 0;
            top: 0;
            width: 23%;
            max-width: var(--layout-header-max-width);
            flex-direction: column;
            justify-content: flex-start;
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
            padding: var(--layout-wrapper-padding-lg)
                var(--layout-wrapper-padding-sm);
            padding-inline-end: 4%;
            backdrop-filter: none;
            background-color: var(--header-background-color);
        }

        .header__navigation {
            font-size: inherit;
            flex-grow: 1;
            margin-block-start: 2rem;
            overflow-x: initial;
            ul {
                display: initial;
                margin: 0;
                li {
                    margin: 0.25rem 0;
                    &:nth-child(1) {
                        transform: translateX(1.25rem);
                    }
                    &:nth-child(2) {
                        transform: translateX(0.5rem);
                    }
                }
            }
        }

        .header__logo {
            width: 50%;
            max-width: 10rem;
            margin-inline-start: 25%;
            margin-inline-end: 0;
        }

        .header__about {
            display: initial;
            margin-block-start: 2rem;
        }
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes rotate {
    to {
        transform:rotate(1turn)
    }
}
