.header {
    position: relative;

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        background-color: var(--header-background-color);
        padding: var(--layout-wrapper-padding-sm);
        padding-bottom: 1.5rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }

    .header__logo {
        display: block;
        max-width: 3rem;
        z-index: 0;
        .js__dot {
            fill: var(--logo-dot-color);
        }
    }

    .header__navigation {
        z-index: 0;
        ul {
            display: flex;
            a {
                display: block;
                padding: var(--spacing-2);
                line-height: 1;
            }
        }
    }

    .header__about {
        display: none;
        z-index: 0;
    }

    @media (min-width: $breakpoints-3) {
        .header__wrapper {
            position: fixed;
            left: 0;
            bottom: 0;
            top: 0;
            width: 22%;
            flex-direction: column;
            justify-content: flex-start;
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
            padding: var(--layout-wrapper-padding-lg)
                var(--layout-wrapper-padding-sm);
            padding-right: 3%;
        }

        .header__navigation {
            ul {
                display: initial;
            }
        }

        .header__logo {
            max-width: 50%;
            margin-right: auto;
            margin-left: auto;
        }

        .header__about {
            display: initial;
            justify-self: flex-end;
            margin-top: var(--spacing-6);
        }
    }
}
