.spotlight {
    position: fixed;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    .blob {
        background-color: white;
        height: 75vmax;
        aspect-ratio: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        background-color: var(--spotlight-color);
    }
  
    .blur {
        position: absolute;
        inset: 0;
        z-index: 2;
        backdrop-filter: blur(12vmax);
    }
}