.theme-switcher {
    margin-top: var(--spacing-4);
    font-size: 0.9em;

    > span,
    [role="switch"] {
        display: block;
    }

    [role="switch"] {
        position: relative;
        display: inline-flex;
        width: 6rem;
        background-color: transparent;
        border: 1px solid var(--body-color);
        font-size: 0.85em;
        text-transform: uppercase;
        color: var(--body-color);
        margin-top: var(--spacing-1);
        padding: var(--spacing-0);
        cursor: pointer;

        span {
            display: inline-block;
            flex: 1 1 50%;
            line-height: 1;
            padding: var(--spacing-2);
            z-index: 2;
        }

        &::before {
            content: "";
            width: 50%;
            height: 100%;
            background-color: var(--theme-switcher-active-background-color);
            position: absolute;
            z-index: 1;
            transition: transform 250ms;
        }

        &[aria-checked="true"] :first-child,
        &[aria-checked="false"] :last-child {
            color: var(--theme-switcher-active-color);
            font-weight: bold;
        }

        &[aria-checked="false"] {
            &::before {
                transform: translateX(100%);
            }
        }
    }
}
