{% include html.html %}
  <head>
    {% include head.html %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.category }} - John Slipper - Web Developer" />
    <meta property="og:description" content="Here are my latest pieces posted under {{ page.category }}" />
    {% include analytics.html %}
  </head>
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <header>
          {% include header.html %}
        </header>
        {% include off-canvas-menu.html %}
        <!-- <div id="ajax"> -->
          {{ content }}
        <!-- </div> -->
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
        <footer>
          {% include footer.html %}
        </footer>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>