{% include html.html %}
  <head>
    {% include head.html %}
    <meta property="og:title" content="About Me &amp; Contact - John Slipper Web Developer" />
    <meta property="og:description" content="You can reach me here, I look forward to hearing from you" />
    {% include analytics.html %}
  </head>
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <header>
          {% include header.html %}
        </header>
        {% include off-canvas-menu.html %}
        <!-- <div id="ajax"> -->
          {% include me.html %}
        <!-- </div> -->
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
        <footer>
          {% include footer.html %}
        </footer>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>