<!DOCTYPE html>
{% include ascii.html %}
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="layout layout--post">
        <a href="#main" class="layout__content-skip">Skip to main content</a>
        <div class="layout__wrapper">
            <header class="layout__header">
                {% include header.html %}
            </header>
            <main id="main" class="layout__main">
                {% include post.html %}
            </main>
            <footer class="layout__footer">
                {% include about.html %}
            </footer>
        </div>
        {% include scripts.html %}
    </body>
</html>
